__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/
ENV/

.env
.env.*

build/
dist/
*.egg-info/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyright/
.tox/
test_*.sqlite3

db.sqlite3
db.sqlite3-journal

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

.vscode/*.log
.vscode/*.db
.vscode/*.db-journal
.vscode/*.vscdb
.vscode/*.vscdb-journal

.coverage
coverage.xml
htmlcov/
media/
staticfiles/

.DS_Store
Thumbs.db